*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

.order-title {
    font-style: italic;
    text-align: center;
}

.orderMain {
    height: auto;
    color: #362222;
    background: #D0C9C0;
}

.order-title {
    text-align: center;
    font-style: italic;
}

.orderNav {
    display: flex;
    gap: 2rem;
    margin: 0 0 0 2rem;
}

.orderTitles {
    margin: 0 0 0 3rem;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.menuItemCard {
    background-color: #FFFFFF;
    width: 90%;
    height: auto;
}

.orderFooter {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.orderButton {
    font-size: 1rem;
    color: #362222;
    background: #D0C9C0;
    border: #362222 solid 3px;
}

.subheading {
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem 0 1rem;
}

@media only screen and (min-width: 1000px) {
    .menuItemCard {
        width: 45%;
    }
}

