*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

a.icon-home {
    color: #362222;
    padding: 4rem;
    font-weight: bold;
}

.order-title {
    font-style: italic;
    text-align: center;
    padding-bottom: 2rem;
}

.orderMain {
    height: auto;
    background: #D0C9C0;
    padding-top: 4rem;
}

.orderNav {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.orderTitles {
    margin: 0 0 0 3rem;
}

.orderFooter {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.orderButton {
    font-size: 1rem;
    color: #362222;
    background: #D0C9C0;
    border: #362222 solid 3px;
}

