*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

.click-to-order {
    background: url('../../images/img3.jpg') no-repeat center center fixed;
    height: 100vh;
}