*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

.logo {
    width: 3rem;
    margin: 4rem;
}

.img1 {
    height: 100vh;
    filter: blur(2px);
    position: absolute;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}


