*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

#food {
    width: 40%;
    height: auto;
}

#card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardBody {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input {
    display: flex;
    column-gap: 1rem;
}

#quantity {
    width: 2rem;
    height: auto;
}

.icon {
    width: 2rem;
}

.button-card {
    margin: 1rem;
    height: 2rem;
    color: #362222;
}

@media only screen and (min-width: 1000px) {
    #card {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #cardBody {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}