*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

#card {
    display: flex;
}

#cardBody {
    display: flex;
    flex-direction: column;
}

#input {
    display: flex;
}