body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-header, .modal-body, #orderSummaryFooter {
    color: #FFFFFF;
    background: #362222;
}

#orderSummaryFooter button {
    color: #FFFFFF;
    font-size: 0.75rem;
    padding: 0.5rem;
    margin: 0;
    height: auto;
}

@media screen and (min-width: 700px) {
    #orderSummaryFooter button {
        font-size: 1rem;
    }
}

@media screen and (min-width: 700px) {
    .container-fluid {
        width: 60%;
    }
}


