*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

.form-container {
    background-color: #362222;
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

.label-name {
    margin: 2rem;
    text-align: center;
}

.button-styling {
    margin: 2rem;
}

.input-container {
    text-align: center;
}

.buttons-container {
    display: flex;
}

table {
    margin: 0 auto;
    width: 50%;
    border: 1px solid #362222;
}

td, th {
    border: 1px solid #362222;
}

